<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/ericksonlopesdev/" class="icon fa-envelope-o"><span class="label">Linkedin</span></a></li>
            <li><a href="https://github.com/Erickson-lopes-dev/Pratical_Project_Philosophizing" class="icon fa-github"><span class="label">Github</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved. Images <a href="https://unsplash.com">Unsplash</a> Design <a href="https://templated.co">TEMPLATED</a>
    </div>
</footer>